html{
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url(img/Background.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #D6D6F2;
    width: 380px;
    height: 96px;
    margin-bottom: 24px;
}

.texto {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    color: #D6D6F2;
    width: 380px;
    height: 56px;
    margin-bottom: 56px;
}

button.botao {
    border: #151557;
    height: 44px;
    text-transform: uppercase;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    background-color: #151557;
    color: #E2E2F5;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
}

.botao:hover {
    background-color: #212187;
    text-decoration: none;
}

.animacao {
    width: 230px;
    height: 230px;
}

.texto_e_botoes {
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 160px;
    margin-top: 249px;
}

.quatro {
    display: block;
    width: 80.156px;
    height: 105.391px;
    align-items: center;
    justify-content: center;
}

.quatros_e_animacao {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 8px;
    margin: auto;
    position: relative;
    left: 200px;
    top: 100px;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
    .texto_e_botoes{
        width: 400px;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 100px;
    }

    .titulo, .texto{
        text-align: center;
    }

    .quatros_e_animacao{
        right: 10000px;
    }
}

@media screen and (max-width: 767px) {
    .texto_e_botoes{
        width: 400px;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: auto;
        margin-top: 70px;
    }

    .titulo, .texto{
        text-align: center;
    }

    .quatros_e_animacao{
        justify-content: left;
        position: relative;
        margin: auto;
        margin-top: 500px;
    }
}