:root {
    --white-rgb: 255, 255, 255;
    --gray-100: #D6D6F2;
    --gray-200: #E2E2F5;
    --blue-100: #212187;
    --blue-200: #151557;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
}

html {
    scroll-behavior: smooth;
}

body, input, textarea, button {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

:focus {
    outline: 0;
    box-shadow: none;
}

::selection {
    background-color: rgba(var(--white-rgb), 0.3);
}

body {
    background-image: url('img/Background.png');
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    max-width: calc(1300rem / 16);
    margin: 0 auto;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-wrapper {
    width: 100%;
    max-width: calc(380rem / 16);
}

.heading {
    display: block;
    color: var(--gray-100);
    font-size: calc(40rem / 16);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: calc(24rem / 16);
}

.text {
    color: var(--gray-100);
    font-size: calc(20rem / 16);
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: calc(56rem / 16);
}

.buttons-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.button {
    border: 1px solid var(--blue-200);
    border-radius: 999px;
    padding: calc(12rem / 16) calc(24rem / 16);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: calc(14rem / 16);
    
    text-transform: uppercase;
    cursor: pointer;
    
    background-color: var(--blue-200);
    color: var(--gray-200);
    transition: background 200ms ease-in;
}

.button:hover {
    background-color: var(--blue-100);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif {
    width: calc(230rem / 16);
    height: calc(230rem / 16);
}

@media screen and (max-width: 800px) {
    .content-wrapper {
        flex-direction: column;
    }

    .heading, .text {
        text-align: center;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 460px) {
    .number-image {
        width: calc(70rem / 16);
    }

    .gif {
        width: fit-content;
    }
}

@media screen and (max-width: 340px) {
    .heading {
        font-size: 2rem;
    }

    .text {
        font-size: 1rem;
    }

    .button {
        font-size: calc(12rem / 16);
    }
}